@model MVCAddressBook.Models.Category

@using MVCAddressBook.Services
@inject IImageService _imageService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-6"></dt>
        <dt class="col-sm-6">
            <img id="posterImage" class="img-fluid" src="@_imageService.DecodePoster(Model.Poster, Model.ContentType)" />
        </dt>
        <dt class="col-sm-6">
           Name
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
